{% extends "layout.html" %}

{% block body %}
    <h1>City Information</h1>
    <table class="table table-striped">
        <thead>
            <th scope="col">Zipcode</th>
            <th scope="col">City</th>
            <th scope="col">State</th>
            <th scope="col">Latitude</th>
            <th scope="col">Longitude</th>
            <th scope="col">Population</th>
        </thead>
        <tbody>
            <tr>
                <td>{{ retrieved_info.zipcode }}</td>
                <td>{{ retrieved_info.city }}</td>
                <td>{{ retrieved_info.state }}</td>
                <td>{{ retrieved_info.lat }}</td>
                <td>{{ retrieved_info.long }}</td>
                <td>{{ retrieved_info.population }}</td>
            </tr>
        </tbody>
    </table>
    <h1>Weather Information</h1>
    <table class="table table-striped">
        <thead>
            <th scope="col">Summary</th>
            <th scope="col">Time of Report</th>
            <th scope="col">Temperature</th>
            <th scope="col">Dew Point</th>
            <th scope="col">Humidity</th>
        </thead>
        <tbody>
            <tr>
                <td>{{ current_weather }}</td>
                <td>{{ time }}</td>
                <td>{{ temperature }}</td>
                <td>{{ dew_point }}</td>
                <td>{{ humidity }}%</td>
            </tr>
        </tbody>
    </table>
    <form action="{{ url_for('comment', city=retrieved_info.city, zipcode=retrieved_info.zipcode) }}" method="post">
        <div class="form-group">
            <input class="form-control" name="comment_section" placeholder="Comment on this location">
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Submit Comment</button>
        </div>
    </form>
    <table class = "table table-striped">
        <thead>
            <th scope="col">User</th>
            <th scope="col">Comment</th>
        </thead>
        <tbody>
            <tr>
                <td>{{ comment_result.username }}</td>
                <td>{{ comment_result.comment }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}